/* backgrou1d-color for whole Application */
html {
  background-color: #3e8ed0 !important;
}

/* background-color for whole Application */
html,
body,
.root {
  background-color: #3e8ed0;
  min-height: 100vh;
}

/* get the squarepeg fontface*/
@font-face {
  font-family: "square-peg";
  src: url("SquarePeg-Regular.ttf") format("truetype");
}

/* get the dancing-script fontface*/
@font-face {
  font-family: "dancing-script";
  src: url("DancingScript-Regular.ttf") format("truetype");
}

/* squarepeg font class*/
.squarepeg {
  font-family: "Square Peg" !important;
  font-size: 60px !important;
}

.dancing-script-header {
  font-family: 'dancing-script' !important;
  color: white;
  font-size: 28px;
}

.squarepeg-title {
  font-family: "Square Peg" !important;
  font-size: 60px !important;
  font-weight: 400 !important;
  color: #205581;
}

.dancing-script-title {
  font-family: "dancing-script" !important;
  font-size: 60px !important;
  font-weight: 400 !important;
  color: #205581;
}


.squarepeg-onlyfont {
  font-family: "Square Peg" !important;
}

/* END: squarepeg font class*/

/* Padding for Header on Desktop */
@media only screen and (min-width: 1200px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20p
  }
}



/* Fade In Animation */
@keyframes fadeIn {
  0% {
    border-radius: 20px;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

/* START: Everything for the Hamburger Menu on Mobile */
#hamburgerMenu {
  background-color: #3e8ed0 !important;
  box-shadow: none !important;
  color: white !important;
}

#navbarItem {
  color: white !important;
}

#navbarItem:hover {
  background-color: #3489d0 !important;
  animation: fadeIn 0.6s;
}

/* END: Everything for the Hamburger Menu on Mobile */

/* style for the SpinnerComponent */
.loader {
  border: 0.7vw solid #f3f3f3 !important;
  border-radius: 50%;
  border-top: 1.0vw solid #3e8ed0 !important;
  width: 10vw !important;
  height: 10vw !important;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 0.5s linear infinite;
}

/* better responsiveness on entry component mobile */
@media screen and (max-width: 900px) {
#entry-component {
    padding: 5px !important;
  }
}
/* style for the WelcomeComponent */
#main-container {
  border-radius: 100px;
  max-width: 1200px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 520px) {
  #nightout-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* style for the createsuggestioncomponent */
#create-suggestion-container {
  border-radius: 100px;
  margin-top: 2px !important;
  max-width: 1200px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

/* style for the createsuggestioncomponent */
#suggestion-container {
  border-radius: 100px;
  margin-top: 2px !important;
  max-width: 1200px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

/* Modal Card */
@media screen and (min-width: 1000px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 800px !important;
  }
}

/* style for making a button not clickable */
.is-not-clickable {
  cursor: default !important;
}

/* style for the textarea-suggestion-form */
#textarea-suggestion-form {
  width: 100px !important;
}

/* make the main nightout container better visible on mobile */
@media screen and (max-width: 900px) {
  .main-nightout-container {
    padding: 15px !important;
  }
}

/* styles for the dropdown content component*/
.dropdown-content {
  color: white;
  background-color: #3e8ed0 !important;
  box-shadow: none !important;
  font-size: smaller;
  position: relative;
  z-index: 9;
}

.dropdown-content-header {
  margin-top: 7px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 0.5rem;
  transform: translate(-110px);
  min-width: 300px;
}

.dropdown-border {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

/* END: styles for the dropdown content component*/

/* margin top for mobile */
@media screen and (max-width: 520px) {
  .margin-top-mobile {
    margin-top: 4px;
  }
}

#nightoutlist-component:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
  transition: 0.3s;
}

#nightoutlist-component {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

/* margin left and right for mobile */
@media screen and (max-width: 768px) {
  #nightoutlist-component {
    margin-left: 12vw !important;
    margin-right: 12vw !important;
  }
}

/* margin left and right for mobile */
@media screen and (min-width: 768px) {
  #mx-mobile {
    margin-left: 3vw !important;
    margin-right: 3vw !important;
  }
}

/* styling entry comp */
.entry-component:hover {
  background-color: #e7e7e7cf !important;
  transition: 0.3s;
}

.entry-component {
  background-color: #f5f5f5 !important;
  transition: 0.8s;
}


/* black title for nightoutlistpage */
#blackTitle {
  color: #330033 !important;
  margin-bottom: 4px !important;
}

/* shadow */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

/* Style for the textarea*/
#textarea-description {
  max-width: 800px;
  min-width: 40%;
  background-color: #ffffff;
  border-radius: none;
  min-height: 150px;
  border-color: #ffffff;
  box-shadow: none;
  resize: none;
  margin: none;
}

#textarea-chat {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  resize: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #f5f5f5;
  border-color: #46464688;
}

/* styles for datefind table */
.datefinder-table {
  background-color: #f5f5f5 !important;
  min-width: 40%;
  margin-bottom: 5px !important;
}

table,
th,
td {
  border: none !important;
}

td {
  transition: 1s;
}

#date-head {
  background-color: #acacac11;
  border-radius: 200px;
}

/* END: styles for datefind table */

/* SPECIAL STUFF */
/* React Date-Picker */

.react-date-picker {
  display: inline-flex;
  position: relative;
}

.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
}

.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.react-date-picker__button:enabled {
  cursor: pointer;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}

.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}

.react-date-picker__button svg {
  display: inherit;
}

.react-date-picker__calendar {
  width: 280px !important;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.react-date-picker__calendar--closed {
  display: none;
}

.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.react-calendar__tile {
  line-height: 50% !important;
}

.react-calendar__navigation {
  margin-bottom: 0px !important;
}

.react-calendar {
  border-radius: 8px !important;
}

/* END: React date picker */

/* CSS Spinner */
.loader-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #3488ce;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
  margin-top: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* END: CSS Spinner */

/* CSS Toggle Switch */