/* background-color for whole Application */
html {
  background-color: #3e8ed0 !important;
}

/* background-color for whole Application */
html,
body,
.root {
  background-color: #3e8ed0;
  min-height: 100vh;
}

/* get the squarepeg fontface*/
@font-face {
  font-family: "square-peg";
  src: url("SquarePeg-Regular.ttf") format("truetype");
}

/* squarepeg font class*/
.squarepeg {
  font-family: "Square Peg" !important;
  font-size: 60px !important;
}

.squarepeg-onlyfont {
  font-family: "Square Peg" !important;
}
/* END: squarepeg font class*/

/* Padding for Header on Desktop */
@media only screen and (min-width: 1200px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20p
  }
}

/* Fade In Animation */
@keyframes fadeIn {
  0% {
    border-radius: 60px;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.4s;
}

/* START: Everything for the Hamburger Menu on Mobile */
#hamburgerMenu {
  background-color: #3e8ed0 !important;
  box-shadow: none !important;
  color: white !important;
}

#navbarItem {
  color: white !important;
}

#navbarItem:hover {
  background-color: #3489d0 !important;
  animation: fadeIn 0.6s;
}

/* END: Everything for the Hamburger Menu on Mobile */

/* style for the SpinnerComponent */
.loader {
  border: 1.0vw solid #f3f3f3 !important;
  border-radius: 50%;
  border-top: 1.0vw solid #3e8ed0 !important;
  width: 15vw !important;
  height: 15vw !important;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 0.5s linear infinite;
}

/* style for the WelcomeComponent */
#main-container {
  border-radius: 100px;
  max-width: 1200px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

/* make the main nightout container better visible on mobile */
@media screen and (max-width: 900px) {
  .main-nightout-container {
    padding: 15px !important;
  }
}

/* styles for the dropdown content component*/
.dropdown-content {
  color: white;
  background-color: #3e8ed0 !important;
  box-shadow: none !important;
  font-size: smaller;
}

.dropdown-border {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

/* END: styles for the dropdown content component*/

/* margin top for mobile */
@media screen and (max-width: 520px) {
  .margin-top-mobile {
    margin-top: 4px;
  }
}

#nightoutlist-component:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
  transition: 0.3s;
}

#nightoutlist-component {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

/* margin left and right for mobiule */
@media screen and (max-width: 768px) {
  #nightoutlist-component {
    margin-left: 12vw !important;
    margin-right: 12vw !important;
  }
}

/* black title for nightoutlistpage */
#blackTitle {
  color: #330033 !important;
  margin-bottom: 4px !important;
}

/* shadow */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}